/*首页 样式*/
.cont{
    /*padding-top: 80px;*/
}
.myLoop{
    height: 678px;
    width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
   background: #fff;
}
.swiper-pagination-bullet{
    width: 40px;
    border-radius: 2px;
    height: 4px;
}
.slide1{
    background: url("../img/home/loop/banner_home.png") no-repeat;
    background-size: cover;
}
.slide2{
    background: url("../img/home/loop/banner2_home.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2462e0;
}
.home1{
    position: absolute;
    top: 210px;
    z-index: 10;
    text-align: center;
    color: #fff;
    left: 0;
    right: 0;
}
.home1 h1{
    font-size: 70px;
}
.home1 p{
    font-size: 54px;
    font-weight: 100;
    width: 900px;
    text-align: justify;
    text-align-last: justify;
    margin: 37px auto 88px;
}
.btns .btn{
    font-size: 28px;
    color: #4d9df4;
    padding: 10px 40px;
    background: #fff;
    font-weight: 300;
}
.btns .btn1{
    margin-right: 24px;
}
.home2{
    position: absolute;
    top: 210px;
    z-index: 10;
    width: 600px;
    left: 50%;
    margin-left: -600px;
    color: #ffffff;
}
.home2 h1{
    font-size: 54px;
    font-weight: 300;
}
.home2 p{
    font-size: 24px;
    font-weight: 100;
    margin: 30px auto 70px;
}
/*系统业务核心*/

.system_core_list{
    margin-left: -15px;
    margin-bottom: 0;
    overflow: hidden;
}
.system_core_list li{
    width: 220px;
    height: 256px;
    border: 1px solid #4d9df4;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.system_core_list li:nth-of-type(5){
    margin-right: 0px;
}
.system_core_list li img{
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 14px;
}
.system_core_list li h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.system_core_list li p{
    font-size: 14px;
    padding: 0 20px;
}
.modelLi{
    display: none;
}
.system_core_list li:hover{
    background-color: #2c2d41;
    color: #ffffff;
    opacity: 0.7;
}
.system_core_list li:hover p{
    font-size: 16px;
}
.system_core_list li:hover h3{
    font-size: 20px;
}
.base_home_img{
    display: block;
    margin: 0px auto 0;
}
.pdbtm140{
    padding-bottom: 140px;
}

.colorFF{
    color: #fff;
}

.solution_list li{
    width: 260px;
    height: 374px;
    padding: 10px;
    border: 1px solid #4899eb;
    color: #4899eb;
    overflow: hidden;
    float: left;
    margin-left: 20px;
}

.solution_list li img.title{
    display: block;
    width: 100%;
}
.solution_list li h3 img{
    display: inline-block;
    width: 14px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
}
.solution_list li h3{
    font-size: 18px;
    margin-bottom: 17px;
    margin-top: 26px;
    padding-left: 10px;
}
.solution_list li p{
    font-size: 14px;
    height: 100px;
    font-weight: 200;
    color: #333;
    padding: 0 10px;
}

.solution_list li a{
    font-size: 12px;
    display: block;
    text-align: center;
    color: #4899eb;
}

.pdbtm100{
    padding-bottom: 100px;
}

.foot_list_c img{
  display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 188px;
    height: 100px;
}

.foot_list_c img.mgn{
    margin-right: 0;
}
.foot_list_c img:hover{
    transform: scale(1.2);
}
