/*首页 样式*/
.cont{
    /*padding-top: 80px;*/
}
.myLoop{
    height: 678px;
    width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
   background: #fff;
}
.swiper-pagination-bullet{
    width: 40px;
    border-radius: 2px;
    height: 4px;
}
.slide1{
    background: url("../img/home/loop/banner_home.png") no-repeat;
    background-size: cover;
}
.slide2{
    background: url("../img/home/loop/banner2_home.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2462e0;
}
.home1{
    position: absolute;
    top: 210px;
    z-index: 10;
    text-align: center;
    color: #fff;
    left: 0;
    right: 0;
}
.home1 h1{
    font-size: 70px;
}
.home1 p{
    font-size: 54px;
    font-weight: 100;
    width: 900px;
    text-align: justify;
    text-align-last: justify;
    margin: 37px auto 88px;
}
.btns .btn{
    font-size: 28px;
    color: #4d9df4;
    padding: 10px 40px;
    background: #fff;
    font-weight: 300;
}
.btns .btn1{
    margin-right: 24px;
}
.home2{
    position: absolute;
    top: 210px;
    z-index: 10;
    width: 600px;
    left: 50%;
    margin-left: -600px;
    color: #ffffff;
}
.home2 h1{
    font-size: 54px;
    font-weight: 300;
}
.home2 p{
    font-size: 24px;
    font-weight: 100;
    margin: 30px auto 70px;
}
/*系统业务核心*/

.system_core_list{
    margin-left: -15px;
}
.system_core_list li{
    width: 220px;
    height: 256px;
    border: 1px solid #4d9df4;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    float: left;
}
.system_core_list li:nth-of-type(5){
    margin-right: 0px;
}
.system_core_list li img{
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 14px;
}
.system_core_list li h3{
    font-size: 18px;
    margin-bottom: 30px;
}
.system_core_list li p{
    font-size: 12px;
    /*color: #666;*/
    padding: 0 20px;
}
.modelLi{
    display: none;
}
.system_core_list li:hover{
    background-color: #2c2d41;
    color: #ffffff;
    opacity: 0.7;
}
































