<!DOCTYPE html>
<html lang="en">
<body>

<div class="boxContain bg_b">
    <div class="w1200 footer">
        <ul class="footer_cont clearfix">
            <li class="w350">
                <p>咨询热线：</p>
                <a href="javascript:void(0);" class="mb40">400-000-1111</a>
                <img src="./img/home/ewm.png" alt="二维码">
            </li>
            <li>
                <h4>产品中心</h4>
                <a href="javascript:void(0);">基础能力</a>
                <a href="javascript:void(0);">业务能力</a>
            </li>
            <li>
                <h4>解决方案</h4>
                <a href="javascript:void(0);">金融科技</a>
                <a href="javascript:void(0);">专业服务</a>
                <a href="javascript:void(0);">产品研发</a>
                <a href="javascript:void(0);">工程管理</a>
            </li>
            <li>
                <h4>用户中心</h4>
                <a href="javascript:void(0);">客户服务</a>
                <a href="javascript:void(0);">视频学习</a>
            </li>
            <li class="w100">
                <h4>关于我们</h4>
                <a href="javascript:void(0);">公司介绍</a>
                <a href="javascript:void(0);">企业文化</a>
                <a href="javascript:void(0);">加入我们</a>
                <a href="javascript:void(0);">联系我们</a>
            </li>
        </ul>
        <div class="foot_c">©版权所有神州普云 京ICP17010074号</div>



    </div>
</div>
</body>
</html>