*.log
*.npy
*.pyc
*.cpython-36.pyc
*.pcd
*.csv
*.tfrecords
bfg.*
.classpath
.project
.pydevproject
.DS_Store
.gitignore.swp
*/.settings
*/.classpath
*/.project
*/.pydevproject
*/build
*/*/build
*/*/*/build
*/*/*/*/build
*/node_modules
*/*/node_modules
*/*/node_modules
*/*/*/node_modules
*/checkpoint
*/*/checkpoint
*/log
*/*/log
*/*/*/log
*/*/*/*/log
*/result
*/server
*/*/result
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.externalToolBuilders/
.myeclipse/
.gradle/
gradle/
.idea/
.metadata/
.recommenders/
.settings/
.svn/
.vscode/
build/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/