
*.npy
*.pyc
*.pcd
*.obj
*.tfrecords
bfg.*
.classpath
.project
.pydevproject
.DS_Store
*/.settings
*/.classpath
*/.project
*/.pydevproject
*/build
*/*/build
*/*/*/build
*/*/*/*/build
*/node_modules
*/*/node_modules
*/checkpoint
*/*/checkpoint
*/data
*/*/data
*/log
*/*/log
*/result
*/*/result
*/server
*/test
*/*/test
*/*/*/test
.externalToolBuilders/
.myeclipse/
.gradle/
gradle/
.idea/
.metadata/
.recommenders/
.settings/
.svn/
.vscode/

*.log
*.npy
*.png
*.pyc
*.cpython-36.pyc
*.pcd
*.csv
*.tfrecords
bfg.*
.classpath
.project
.pydevproject
.DS_Store
.gitignore.swp
*/.settings
*/.classpath
*/.project
*/.pydevproject
*/build
*/*/build
*/*/*/build
*/*/*/*/build
*/node_modules
*/*/node_modules
*/*/node_modules
*/*/*/node_modules
*/checkpoint
*/*/checkpoint
*/data
*/*/data
*/log
*/*/log
*/*/*/log
*/*/*/*/log
*/result
*/server
*/*/result
#*/test
#*/*/test
#*/*/*/test
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.externalToolBuilders/
.myeclipse/
.gradle/
gradle/
.idea/
.metadata/
.recommenders/
.settings/
.svn/
.vscode/
build/
target/
deploy/mysql/data/
services/map-making/checkpoint/
services/map-making/data/
services/map-making/pcl_tools/cmake-build-debug/
services/map-making/pcl_tools/build/
services/map-making/pcl_tools/build-mac/
services/map-making/pcl_tools/build-ubuntu/
services/map-making/pcl_tools/data/
services/map-making/modules/cli/data/
services/postprocess/data/
services/postprocess/log/
services/postprocess/*.npy
services/postprocess/*.png
services/postprocess/explore/points-reconstruct/data/
services/postprocess/explore/orb_slam2_python/read_stream/openni2_driver/
services/postprocess/cli/npyobj-data/
services/postprocess/explore/dhl/
services/postprocess/explore/icp/data/
services/postprocess/explore/orb_slam2_python/orbslam/rgbd_dataset_freiburg1_xyz/
web/point-capture/point-capture/Point\ Capture.xcodeproj/project.xcworkspace/xcuserdata/
services/postprocess/explore/cartographer/cartographer_paper_deutsches_museum.bag
services/postprocess/explore/connectedMesh/*
!services/postprocess/explore/connectedMesh/*.py
services/postprocess/explore/maskrcnn-data/*
!services/postprocess/explore/maskrcnn-data/*.py
services/postprocess/explore/opencv-test/*
!services/postprocess/explore/opencv-test/*.py
services/postprocess/detection/warehouse/dataset/
services/postprocess/detection/office/dataset/
services/postprocess/detection/warehouse/view_output/
services/postprocess/detection/office/view_output/
services/postprocess/detection/office/output/
services/postprocess/networks/
web/locust-test/DHL/report/*.csv
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
qiankun/