
*.npy
*.pyc
*.pcd
*.obj
*.tfrecords
bfg.*
.classpath
.project
.pydevproject
.DS_Store
*/.settings
*/.classpath
*/.project
*/.pydevproject
*/build
*/*/build
*/*/*/build
*/*/*/*/build
*/node_modules
*/*/node_modules
*/checkpoint
*/*/checkpoint
*/data
*/*/data
*/log
*/*/log
*/result
*/*/result
*/server
*/test
*/*/test
*/*/*/test
.externalToolBuilders/
.myeclipse/
.gradle/
gradle/
.idea/
.metadata/
.recommenders/
.settings/
.svn/
.vscode/

